@import '../../Assets/Styles/variables';

$height: calc(100% * (2 / 3));
.body {
    display: flex;
    flex-direction: column;
    background-color: $light-grey;
    height: $height;

    &-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &-weather,
    &-temperature {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
    }
    &-temperature {
        // font-size: $s32;
        font-size: $p50;
        font-weight: 700;
    }
    &-celcius {
        margin: 0px;
        height: 60px;
        display: flex;
        align-items: center;
    }
    &-description-date {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &-description {
        font-weight: 700;
        font-size: $s12;
    }
}

@media screen and (max-width: 1400px) {
    .body {
        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-temperature {
            font-size: $p40;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
        }
        &-celcius {
            margin: 0px;
            height: 50px;
        }
        img {
            height: 120px;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
        }
    }
}
