@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@800&family=Bitter:wght@500&family=Kalam&family=Kaushan+Script&display=swap');

//colors
$white: #fff;
$orange: #ec6e4c;
$white-darker: #f2f2f2;
$dark-grey: #49484a;
$light-grey: #c4c4c4;

//fonts
$fontBitter: 'Bitter', serif;
$fontKalam: 'Kalam', cursive;

//font sizes
$s32: 3.2rem;
$s30: 3rem;
$s28: 2.8rem;
$s26: 2.6rem;
$s24: 2.4rem;
$s22: 2.2rem;
$s20: 2rem;
$s18: 1.8rem;
$s16: 1.6rem;
$s14: 1.4rem;
$s12: 1.2rem;
$s10: 1rem;
$s08: 0.8rem;
$s06: 0.6rem;

//dimensions
$max-height: 100vh;
$max-width: 100vw;
